Admin/Einvoice-Furama/Web References/HDDT.PortalService/PortalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listInvByCus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cusCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listInvByCusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchInv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cusCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="invStatus" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="page" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cussignStatus" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="payment" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchInvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchInvResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCatalogView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCatalogViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCatalogViewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvViewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvViewNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertForStoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForVerify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForVerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertForVerifyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvPDFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvPDFNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listInvByCusFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusFkeyVNP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusFkeyVNPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listInvByCusFkeyVNPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcatalogViewFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcatalogViewFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getcatalogViewFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvPDFFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFFkeyNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFFkeyNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvPDFFkeyNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyByStaff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyByStaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvViewFkeyByStaffResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvViewFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvViewFkeyNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForStoreFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForStoreFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertForStoreFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForVerifyFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForVerifyFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertForVerifyFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkeyNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkeyNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvFkeyNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDigest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cusCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDigestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDigestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmSiganture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="signValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmSigantureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmSigantureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cusCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStaff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStaffResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvFromNoToNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invFromNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invToNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invPattern" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invSerial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvFromNoToNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listInvFromNoToNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listInvByCusSoapIn">
    <wsdl:part name="parameters" element="tns:listInvByCus" />
  </wsdl:message>
  <wsdl:message name="listInvByCusSoapOut">
    <wsdl:part name="parameters" element="tns:listInvByCusResponse" />
  </wsdl:message>
  <wsdl:message name="SearchInvSoapIn">
    <wsdl:part name="parameters" element="tns:SearchInv" />
  </wsdl:message>
  <wsdl:message name="SearchInvSoapOut">
    <wsdl:part name="parameters" element="tns:SearchInvResponse" />
  </wsdl:message>
  <wsdl:message name="getCatalogViewSoapIn">
    <wsdl:part name="parameters" element="tns:getCatalogView" />
  </wsdl:message>
  <wsdl:message name="getCatalogViewSoapOut">
    <wsdl:part name="parameters" element="tns:getCatalogViewResponse" />
  </wsdl:message>
  <wsdl:message name="getInvViewSoapIn">
    <wsdl:part name="parameters" element="tns:getInvView" />
  </wsdl:message>
  <wsdl:message name="getInvViewSoapOut">
    <wsdl:part name="parameters" element="tns:getInvViewResponse" />
  </wsdl:message>
  <wsdl:message name="getInvViewNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:getInvViewNoPay" />
  </wsdl:message>
  <wsdl:message name="getInvViewNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:getInvViewNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="convertForStoreSoapIn">
    <wsdl:part name="parameters" element="tns:convertForStore" />
  </wsdl:message>
  <wsdl:message name="convertForStoreSoapOut">
    <wsdl:part name="parameters" element="tns:convertForStoreResponse" />
  </wsdl:message>
  <wsdl:message name="convertForVerifySoapIn">
    <wsdl:part name="parameters" element="tns:convertForVerify" />
  </wsdl:message>
  <wsdl:message name="convertForVerifySoapOut">
    <wsdl:part name="parameters" element="tns:convertForVerifyResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvSoapIn">
    <wsdl:part name="parameters" element="tns:downloadInv" />
  </wsdl:message>
  <wsdl:message name="downloadInvSoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvNoPay" />
  </wsdl:message>
  <wsdl:message name="downloadInvNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFSoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvPDF" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFSoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvPDFResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvPDFNoPay" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvPDFNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="listInvByCusFkeySoapIn">
    <wsdl:part name="parameters" element="tns:listInvByCusFkey" />
  </wsdl:message>
  <wsdl:message name="listInvByCusFkeySoapOut">
    <wsdl:part name="parameters" element="tns:listInvByCusFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="listInvByCusFkeyVNPSoapIn">
    <wsdl:part name="parameters" element="tns:listInvByCusFkeyVNP" />
  </wsdl:message>
  <wsdl:message name="listInvByCusFkeyVNPSoapOut">
    <wsdl:part name="parameters" element="tns:listInvByCusFkeyVNPResponse" />
  </wsdl:message>
  <wsdl:message name="getcatalogViewFkeySoapIn">
    <wsdl:part name="parameters" element="tns:getcatalogViewFkey" />
  </wsdl:message>
  <wsdl:message name="getcatalogViewFkeySoapOut">
    <wsdl:part name="parameters" element="tns:getcatalogViewFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFFkeySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvPDFFkey" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFFkeySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvPDFFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFFkeyNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvPDFFkeyNoPay" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFFkeyNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvPDFFkeyNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeyByStaffSoapIn">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyByStaff" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeyByStaffSoapOut">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyByStaffResponse" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeySoapIn">
    <wsdl:part name="parameters" element="tns:getInvViewFkey" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeySoapOut">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeyNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyNoPay" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeyNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="convertForStoreFkeySoapIn">
    <wsdl:part name="parameters" element="tns:convertForStoreFkey" />
  </wsdl:message>
  <wsdl:message name="convertForStoreFkeySoapOut">
    <wsdl:part name="parameters" element="tns:convertForStoreFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="convertForVerifyFkeySoapIn">
    <wsdl:part name="parameters" element="tns:convertForVerifyFkey" />
  </wsdl:message>
  <wsdl:message name="convertForVerifyFkeySoapOut">
    <wsdl:part name="parameters" element="tns:convertForVerifyFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvFkey" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeyNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvFkeyNoPay" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeyNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvFkeyNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="getDigestSoapIn">
    <wsdl:part name="parameters" element="tns:getDigest" />
  </wsdl:message>
  <wsdl:message name="getDigestSoapOut">
    <wsdl:part name="parameters" element="tns:getDigestResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmSigantureSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmSiganture" />
  </wsdl:message>
  <wsdl:message name="ConfirmSigantureSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmSigantureResponse" />
  </wsdl:message>
  <wsdl:message name="getCusSoapIn">
    <wsdl:part name="parameters" element="tns:getCus" />
  </wsdl:message>
  <wsdl:message name="getCusSoapOut">
    <wsdl:part name="parameters" element="tns:getCusResponse" />
  </wsdl:message>
  <wsdl:message name="getStaffSoapIn">
    <wsdl:part name="parameters" element="tns:getStaff" />
  </wsdl:message>
  <wsdl:message name="getStaffSoapOut">
    <wsdl:part name="parameters" element="tns:getStaffResponse" />
  </wsdl:message>
  <wsdl:message name="listInvFromNoToNoSoapIn">
    <wsdl:part name="parameters" element="tns:listInvFromNoToNo" />
  </wsdl:message>
  <wsdl:message name="listInvFromNoToNoSoapOut">
    <wsdl:part name="parameters" element="tns:listInvFromNoToNoResponse" />
  </wsdl:message>
  <wsdl:portType name="PortalServiceSoap">
    <wsdl:operation name="listInvByCus">
      <wsdl:input message="tns:listInvByCusSoapIn" />
      <wsdl:output message="tns:listInvByCusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchInv">
      <wsdl:input message="tns:SearchInvSoapIn" />
      <wsdl:output message="tns:SearchInvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCatalogView">
      <wsdl:input message="tns:getCatalogViewSoapIn" />
      <wsdl:output message="tns:getCatalogViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvView">
      <wsdl:input message="tns:getInvViewSoapIn" />
      <wsdl:output message="tns:getInvViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvViewNoPay">
      <wsdl:input message="tns:getInvViewNoPaySoapIn" />
      <wsdl:output message="tns:getInvViewNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertForStore">
      <wsdl:input message="tns:convertForStoreSoapIn" />
      <wsdl:output message="tns:convertForStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertForVerify">
      <wsdl:input message="tns:convertForVerifySoapIn" />
      <wsdl:output message="tns:convertForVerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInv">
      <wsdl:input message="tns:downloadInvSoapIn" />
      <wsdl:output message="tns:downloadInvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvNoPay">
      <wsdl:input message="tns:downloadInvNoPaySoapIn" />
      <wsdl:output message="tns:downloadInvNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDF">
      <wsdl:input message="tns:downloadInvPDFSoapIn" />
      <wsdl:output message="tns:downloadInvPDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFNoPay">
      <wsdl:input message="tns:downloadInvPDFNoPaySoapIn" />
      <wsdl:output message="tns:downloadInvPDFNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkey">
      <wsdl:input message="tns:listInvByCusFkeySoapIn" />
      <wsdl:output message="tns:listInvByCusFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkeyVNP">
      <wsdl:input message="tns:listInvByCusFkeyVNPSoapIn" />
      <wsdl:output message="tns:listInvByCusFkeyVNPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getcatalogViewFkey">
      <wsdl:input message="tns:getcatalogViewFkeySoapIn" />
      <wsdl:output message="tns:getcatalogViewFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkey">
      <wsdl:input message="tns:downloadInvPDFFkeySoapIn" />
      <wsdl:output message="tns:downloadInvPDFFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkeyNoPay">
      <wsdl:input message="tns:downloadInvPDFFkeyNoPaySoapIn" />
      <wsdl:output message="tns:downloadInvPDFFkeyNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyByStaff">
      <wsdl:input message="tns:getInvViewFkeyByStaffSoapIn" />
      <wsdl:output message="tns:getInvViewFkeyByStaffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkey">
      <wsdl:input message="tns:getInvViewFkeySoapIn" />
      <wsdl:output message="tns:getInvViewFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyNoPay">
      <wsdl:input message="tns:getInvViewFkeyNoPaySoapIn" />
      <wsdl:output message="tns:getInvViewFkeyNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertForStoreFkey">
      <wsdl:input message="tns:convertForStoreFkeySoapIn" />
      <wsdl:output message="tns:convertForStoreFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertForVerifyFkey">
      <wsdl:input message="tns:convertForVerifyFkeySoapIn" />
      <wsdl:output message="tns:convertForVerifyFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkey">
      <wsdl:input message="tns:downloadInvFkeySoapIn" />
      <wsdl:output message="tns:downloadInvFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkeyNoPay">
      <wsdl:input message="tns:downloadInvFkeyNoPaySoapIn" />
      <wsdl:output message="tns:downloadInvFkeyNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDigest">
      <wsdl:input message="tns:getDigestSoapIn" />
      <wsdl:output message="tns:getDigestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmSiganture">
      <wsdl:input message="tns:ConfirmSigantureSoapIn" />
      <wsdl:output message="tns:ConfirmSigantureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCus">
      <wsdl:input message="tns:getCusSoapIn" />
      <wsdl:output message="tns:getCusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStaff">
      <wsdl:input message="tns:getStaffSoapIn" />
      <wsdl:output message="tns:getStaffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listInvFromNoToNo">
      <wsdl:input message="tns:listInvFromNoToNoSoapIn" />
      <wsdl:output message="tns:listInvFromNoToNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortalServiceSoap" type="tns:PortalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listInvByCus">
      <soap:operation soapAction="http://tempuri.org/listInvByCus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInv">
      <soap:operation soapAction="http://tempuri.org/SearchInv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCatalogView">
      <soap:operation soapAction="http://tempuri.org/getCatalogView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvView">
      <soap:operation soapAction="http://tempuri.org/getInvView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewNoPay">
      <soap:operation soapAction="http://tempuri.org/getInvViewNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForStore">
      <soap:operation soapAction="http://tempuri.org/convertForStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForVerify">
      <soap:operation soapAction="http://tempuri.org/convertForVerify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInv">
      <soap:operation soapAction="http://tempuri.org/downloadInv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvNoPay">
      <soap:operation soapAction="http://tempuri.org/downloadInvNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDF">
      <soap:operation soapAction="http://tempuri.org/downloadInvPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFNoPay">
      <soap:operation soapAction="http://tempuri.org/downloadInvPDFNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkey">
      <soap:operation soapAction="http://tempuri.org/listInvByCusFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkeyVNP">
      <soap:operation soapAction="http://tempuri.org/listInvByCusFkeyVNP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcatalogViewFkey">
      <soap:operation soapAction="http://tempuri.org/getcatalogViewFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkey">
      <soap:operation soapAction="http://tempuri.org/downloadInvPDFFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkeyNoPay">
      <soap:operation soapAction="http://tempuri.org/downloadInvPDFFkeyNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyByStaff">
      <soap:operation soapAction="http://tempuri.org/getInvViewFkeyByStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkey">
      <soap:operation soapAction="http://tempuri.org/getInvViewFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyNoPay">
      <soap:operation soapAction="http://tempuri.org/getInvViewFkeyNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForStoreFkey">
      <soap:operation soapAction="http://tempuri.org/convertForStoreFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForVerifyFkey">
      <soap:operation soapAction="http://tempuri.org/convertForVerifyFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkey">
      <soap:operation soapAction="http://tempuri.org/downloadInvFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkeyNoPay">
      <soap:operation soapAction="http://tempuri.org/downloadInvFkeyNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDigest">
      <soap:operation soapAction="http://tempuri.org/getDigest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmSiganture">
      <soap:operation soapAction="http://tempuri.org/ConfirmSiganture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCus">
      <soap:operation soapAction="http://tempuri.org/getCus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaff">
      <soap:operation soapAction="http://tempuri.org/getStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvFromNoToNo">
      <soap:operation soapAction="http://tempuri.org/listInvFromNoToNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PortalServiceSoap12" type="tns:PortalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listInvByCus">
      <soap12:operation soapAction="http://tempuri.org/listInvByCus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInv">
      <soap12:operation soapAction="http://tempuri.org/SearchInv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCatalogView">
      <soap12:operation soapAction="http://tempuri.org/getCatalogView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvView">
      <soap12:operation soapAction="http://tempuri.org/getInvView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewNoPay">
      <soap12:operation soapAction="http://tempuri.org/getInvViewNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForStore">
      <soap12:operation soapAction="http://tempuri.org/convertForStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForVerify">
      <soap12:operation soapAction="http://tempuri.org/convertForVerify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInv">
      <soap12:operation soapAction="http://tempuri.org/downloadInv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvNoPay">
      <soap12:operation soapAction="http://tempuri.org/downloadInvNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDF">
      <soap12:operation soapAction="http://tempuri.org/downloadInvPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFNoPay">
      <soap12:operation soapAction="http://tempuri.org/downloadInvPDFNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkey">
      <soap12:operation soapAction="http://tempuri.org/listInvByCusFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkeyVNP">
      <soap12:operation soapAction="http://tempuri.org/listInvByCusFkeyVNP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcatalogViewFkey">
      <soap12:operation soapAction="http://tempuri.org/getcatalogViewFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkey">
      <soap12:operation soapAction="http://tempuri.org/downloadInvPDFFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkeyNoPay">
      <soap12:operation soapAction="http://tempuri.org/downloadInvPDFFkeyNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyByStaff">
      <soap12:operation soapAction="http://tempuri.org/getInvViewFkeyByStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkey">
      <soap12:operation soapAction="http://tempuri.org/getInvViewFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyNoPay">
      <soap12:operation soapAction="http://tempuri.org/getInvViewFkeyNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForStoreFkey">
      <soap12:operation soapAction="http://tempuri.org/convertForStoreFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForVerifyFkey">
      <soap12:operation soapAction="http://tempuri.org/convertForVerifyFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkey">
      <soap12:operation soapAction="http://tempuri.org/downloadInvFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkeyNoPay">
      <soap12:operation soapAction="http://tempuri.org/downloadInvFkeyNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDigest">
      <soap12:operation soapAction="http://tempuri.org/getDigest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmSiganture">
      <soap12:operation soapAction="http://tempuri.org/ConfirmSiganture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCus">
      <soap12:operation soapAction="http://tempuri.org/getCus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaff">
      <soap12:operation soapAction="http://tempuri.org/getStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvFromNoToNo">
      <soap12:operation soapAction="http://tempuri.org/listInvFromNoToNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortalService">
    <wsdl:port name="PortalServiceSoap" binding="tns:PortalServiceSoap">
      <soap:address location="https://vnptmtadmin.vnpt-invoice.com.vn/PortalService.asmx" />
    </wsdl:port>
    <wsdl:port name="PortalServiceSoap12" binding="tns:PortalServiceSoap12">
      <soap12:address location="https://vnptmtadmin.vnpt-invoice.com.vn/PortalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>